.af-ifarme{
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 65vh;        /* Viewport-relative units */
    width: 40vw;
}